/*LAYOUT OF BLOCK*/
.block-bingoschedule {
  font-family: 'Spicy Rice', cursive;
  color: #FFF200;
  background-color: #602B6E;
  border-radius: 20px;
  padding: 10px;
  width: 910px;
  float: left;
  /*height: 31em;*/
}

.block-bingoschedule h3 {
  font-size: 3em;
  font-weight: normal;
  border: 1px #fff200 solid;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 0px;
  padding-bottom: 3px;
}

.bs-row, 
.bs-row-head {
  border: 1px #fff200 solid;
  border-width: 0px 0px 1px 0px;
  clear: left;
  font-size: 1.3em;
  vertical-align: top;
  display: none;
  padding: 3px 0px;
}

.bs-row.shown, 
.bs-row-head {
  display: block;
}

.bs-row-head .bs-item {
  font-family: 'Spicy Rice', cursive;
  color: #FFF200;
  font-size: 1.2em;
}

.bs-item {
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-left: 10px;
  float: left;
  text-align: left;
}

.bs-room {
  width: 29%;
}

.bs-type {
  width: 29%;
}

.bs-price {
  width: 8%;
  text-align: right;
}

.bs-prize {
  width: 12%;
  text-align: right;
}

.bs-time {
  width: 14%;
  text-align: right;
}

a#bs-playnow {
  float: right;
  color: #ffffff;
  background-color: #40B25C;
  border-radius: 8px;
  font-size: 2.2em;
  padding: 2px 6px 2px 10px;
  margin-top: 0.5em;
  font-weight: normal;
  border: 4px #ffffff solid;
}